<html lang="en">
  <head>
    <title>Random Joke</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="inner">
        <nav>
          <a href="#" class="logo">Random Joke</a>
          <input type="checkbox" id="nav" /><label for="nav"></label>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about" data-test-id="about">About</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>