<h1>About Random Joke</h1>
<p>This is a simple app that uses <code>express-generator</code> and handlebars to generate a dynamic page.</p>
<p>The API is provided by <a href="https://github.com/15Dkatz/official_joke_api" target="_blank">Official Joke API</a>.</p>